.input-group{
    position: relative;
    margin: 50px;
}
.input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font: inherit;
    background-color: transparent;
    outline: 2px solid #fff;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transition: transform .25s;
    color: #fff;
}

.input:focus+.input-label,
.input:valid+.input-label {
    transform: translate(10px, -14px) scale(.8);
    color: #d1c5fc;
    padding-inline:5px ;
    background-color: #242329;
}
.input:is(:focus, :valid) {
    outline-color:#d1c5fc ;
}